// Google Fonts - https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap')
$font-stack: Montserrat, sans-serif

html
    width: 100%
    height: 100%

body
    background-color: #f6fafa
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    justify-content: center
    align-items: flex-start
    
    // Fonts
    font-family: $font-stack

    #root
        background-color: #fff
        width: 80%

        #navbar
            width: 100%
            

/* For mobile phones: */
/* @media only screen and (min-width: 768px) */